@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}
.grad1{
  background: linear-gradient(270deg, #800080 0%, #FF864C 100%);
  
}
.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-content {
  display: inline-block;
}
.radi p{
  display: flex;
  height: 29px;
  justify-content: center;
  align-items: center;
  gap:10px;
  padding: 4px 9px;
  border: 1.5px solid #EEAEAE;
  border-radius: 20px;
}

.bgrad{
 
  border-width: 1.5px;
    border-style: solid;
    border-radius: 10px !important;
    border-image: linear-gradient(270deg, #800080 0%, #FF864C 100%) 1;
}
.details > div{
  column-gap: 20px;
}